<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
    <h1>TODO List</h1>
    <table>
         {% for task, status in todo.items() %}
            <tr>
               <th>
                   {{ task }} </th>
               <td>
                   {% if status %}
                   Complete
                   {% else %}
                   In Progress
                   {% endif %}
               </td>
            </tr>
         {% endfor %}
    </table>
    <form>
        <span> Enter Task:</span>
        <input type="text" name="task"/>
        <button type="submit" formaction="http://localhost:5000/add">Add</button>
        <button type="submit" formaction="http://localhost:5000/delete">Delete</button>
        <button type="submit" formaction="http://localhost:5000/update">Complete</button>
    </form>
</body>
</html>