<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>Physics</td>
            <td>
                {%if marks["Physics"] > 50 %}
                Pass
                {%else%}
                Fail
                {%endif%}
            </td>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>
                {%if marks["Chemistry"] > 50 %}
                Pass
                {%else%}
                Fail
                {%endif%}
            </td>
        </tr>
        <tr>
            <td>Math</td>
            <td>
                {%if marks["Math"] > 50 %}
                Pass
                {%else%}
                Fail
                {%endif%}
            </td>
        </tr>

    </table>
</body>
</html>